absl-py==2.4.0
annotated-types==0.7.0
asgiref==3.11.1
astunparse==1.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==48.0.0
Django==5.2.14
django-cors-headers==4.9.0
djangorestframework==3.17.1
flatbuffers==25.12.19
gast==0.7.0
google-auth==2.53.0
google-pasta==0.2.0
googleapis-common-protos==1.75.0
grpcio==1.80.0
grpcio-status==1.71.2
h5py==3.16.0
httplib2==0.31.2
idna==3.16
keras==3.14.1
libclang==18.1.1
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
numpy==2.4.6
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pillow==12.2.0
proto-plus==1.28.0
protobuf==5.29.6
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
python-dotenv==1.2.2
requests==2.34.2
rich==15.0.0
six==1.17.0
sqlparse==0.5.5
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.3.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
Werkzeug==3.1.8
wrapt==2.2.1
